<div class="main-container">
    <input type="text" placeholder="Buscar...">
    <div class="container">
        <div class="table-container">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th style="text-align: center;">Logo</th>
                        <th>Nombre del product</th>
                        <th>Descripción</th>
                        <th>Fecha de liberación</th>
                        <th>Fecha de restauración</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="(productosPaginados | filtroBusqueda:terminoBusqueda).length > 0; else hayResultados">
                        <tr *ngFor="let producto of productosPaginados | filtroBusqueda:terminoBusqueda">
                            <td><img [src]="producto.logo" alt="logo" width="50" height="50"></td>
                            <td>{{ producto.name }}</td>
                            <td>{{ producto.description }}</td>
                            <td>{{ producto.date_release | date: 'dd/MM/yyyy' }}</td>
                            <td>{{ producto.date_revision | date: 'dd/MM/yyyy' }}</td>
                        </tr>
                    </ng-container>
                    <ng-template #hayResultados>
                        <tr>
                            <td colspan="5">No se encontraron resultados</td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>

        <div class="results-info">
            <div class="pagination-results">
                {{ listaProductos.length }} Resultados
                <select class="pagination-square" [(ngModel)]="itemsPorPagina">
                    <option *ngFor="let i of listaItemsPorPagina" [value]="i.valor">{{ i.etiqueta }}</option>
                </select>
            </div>

            <div class="pagination-container">
                <button class="icon-button" (click)="irAPagina(paginaActual - 1)" [disabled]="paginaActual === 1">
                    <fa-icon class="icon" [icon]="faFlechaIzquierda"></fa-icon>
                </button>
                <div class="page-info">
                    Página {{ paginaActual }} de {{ paginasTotales }}
                </div>
                <button class="icon-button" (click)="irAPagina(paginaActual + 1)"
                    [disabled]="paginaActual === paginasTotales">
                    <fa-icon class="icon" [icon]="faFlechaDerecha"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>
